body {
  padding-top: 50px;
  height: 1600px;
}

a:visited {
  color: white;
  text-decoration: none;
}

.top_section {
  background-color: black;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.top_section button {
  border: none;
  background-color: white;
  cursor: pointer;
}

.top_section .gray:hover {
  border-radius: 21px;
  background-color: rgba(138, 138, 138, 0.3);
}

/** 헤더 섹션 **/

header {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 40px;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 999;
}

header .logo_main {
  display: flex;
  align-items: center;
}

header .logo_main img {
  margin-left: 5px;
  size: 80%;
}

header .header_menu button {
  font-family: inherit;
  background-color: transparent;
  color: white;
}

header .header_menu button:after {
  content: "";
  display: block;
  width: 10px;
  border-bottom: 1px solid white;
  margin: 10px auto;
}

.main_nav {
  display: flex;
  font-family: inherit;
  font-size: 18px;
}

.main_nav .be_host {
  color: white;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.main_nav .lang_and_location {
  padding: 0px 20px;
  color: white;
  background-color: transparent;
}

.main_nav .user_menu {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 5px 5px 12px;
  border-radius: 21px;
  height: 42px;
  width: 77px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/** 숙소 네비게이션 **/

.accomodation_search_form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 75%;
  background-color: white;
  border-radius: 25px;
  position: relative;
  top: 30px;
  z-index: 2;
}

.accomodation_search_form button {
  text-align: left;
  padding: 14px 24px;
  background-color: transparent;
}

/** 이미지 & 호스트에게 한마디**/

.background_img {
  width: 98%;
  z-index: 1;
}

.msg_to_host {
  padding: 32px 0px;
  text-align: center;
  margin-bottom: 20px;
}

.msg_to_host span {
  color: white;
  font-family: inherit;
  font-size: 24px;
}
